@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  position: relative;
  padding: 46px 0 44px;

  &__logo {
    margin-top: -10px;
    padding-right: 10px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__menu {
    display: flex;
  }


  &__menu-item:not(:last-child) {
    margin-right: 40px;
  }

  &__menu-link {
    font-size: 18px;
    color: #02012B;
    transition: color .4s;
  }

  &__menu-link:hover {
    color: #19BCE4;
  }

  &__btn {
    padding: 10px 25px;
    background-color: #19BCE4;
    border-radius: 6px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    z-index: 4;
  }
}

.hero {
  height: 700px;
  background-image: url('../images/hero/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #0000008F;
  }

  &__inner {
    margin: 0 auto;
    position: relative;
    z-index: 2;

  }

  &__title {
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
    z-index: 2;
    padding-top: 185px;
    margin-bottom: 24px;
  }

  &__text {
    max-width: 622px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 97px;
  }

  &__form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 24px;
    background-color: #FFFFFF;
    z-index: 2;
  }



  &__form-item {
    display: block;
    width: 100%;
    height: 70px;
    border: 0.5px solid rgba(25, 188, 228, 0.30);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    outline: none;
    padding-top: 35px;
    padding-left: 30px;
    padding-right: 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }


  &__form-item::-ms-expand {
    display: none;
  }

  &__form-btn {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    max-width: 259px;
    width: 100%;
    background-color: #19BCE4;
    color: #FFFFFF;
    border: transparent;
    padding: 23px 10px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

}

.select-wrap {
  max-width: 259px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  margin-bottom: 10px;

  &__text {
    position: absolute;
    left: 30px;
    top: 10px;
    color: #555555;
    padding-right: 22px;
  }


  &__text::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    display: block;
    background-image: url('../images/icons/down.svg');
    background-repeat: no-repeat;
    right: 0;
  }
}

.about {
  padding-top: 120px;
  padding-bottom: 165px;

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__images {
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  &__img-big {
    object-fit: cover;
  }

  &__img-small {
    object-fit: cover;
    position: absolute;
    bottom: -45px;
    right: -38px;
  }

  &__content {
    max-width: 532px;
    padding-left: 10px;
    margin: 0 auto;
  }

  &__subtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 135%;
    color: #02012B;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 126.875%;
    margin-bottom: 24px;
  }

  &__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 135%;
    color: #555555;
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  &__item {
    max-width: 232px;
    width: 100%;
    margin: 0 auto;
  }

  &__item-icon {
    margin-bottom: 24px;
  }

  &__item-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
  }

  &__btn {
    font-size: 18px;
    font-weight: 400;
    line-height: 133.333%;
    padding: 16px 32px;
    border-radius: 6px;
    background-color: #19BCE4;
    color: #FFFFFF;
  }
}


//media------------------------------------------------------


@media (max-width: 860px) {
  .burger {
    display: block;
  }

  .header {
    &__logo {
      margin-bottom: 10px;
    }

    &__menu {
      display: none;
      padding-top: 20px;
    }

    &__menu-item {
      text-align: center;
    }

    &__menu-item:not(:last-child) {
      margin-right: 0;
      margin-bottom: 20px;
    }

    &__menu--active {
      top: 0;
      right: 0;
      left: 0;
      display: block;
      position: absolute;
      margin: 0 auto;
      background-color: #ffffff;
      padding-top: 50px;
      padding-bottom: 50px;
      z-index: 2;
    }

    &__btn--active {
      position: absolute;
      top: 1px;
      left: 20px;
      right: 20px;
      top: 202px;
    }
  }

  .hero {
    &__title {
      padding-top: 60px;
      font-size: 40px;
    }
  }
}

@media (max-width:650px) {
  .about {

    &__title {
      font-size: 30px;
    }

    &__img-small {
      display: none;
    }

    &__list {
      display: block;
    }

    &__item {
      margin: 0 auto;
    }

    &__item:not(:last-child) {
      margin-bottom: 20px;
    }

    &__item-icon {
      margin: 0 auto;
    }

    &__btn {
      display: block;
      text-align: center;
    }
  }
}