@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  position: relative;
  padding: 46px 0 44px;

  &__logo {
    margin-top: -10px;
    padding-right: 10px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__menu {
    display: flex;
  }


  &__menu-item:not(:last-child) {
    margin-right: 40px;
  }

  &__menu-link {
    font-size: 18px;
    color: #02012B;
    transition: color .4s;
  }

  &__menu-link:hover {
    color: #19BCE4;
  }

  &__btn {
    color: #FFF;
    font-family: Rubik;
    font-size: 16px;
    background-color: #19BCE4;
    padding: 10px 25px;
    border: none;
    border-radius: 6px;
  }

}

.hero {
  height: 700px;
  background-image: url('../images/hero/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #0000008F;
  }

  &__inner {
    margin: 0 auto;
    position: relative;
    z-index: 2;

  }

  &__title {
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
    z-index: 2;
    padding-top: 185px;
    margin-bottom: 24px;
  }

  &__text {
    max-width: 622px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 97px;
  }

  &__form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 24px;
    background-color: #FFFFFF;
    z-index: 2;
  }



  &__form-item {
    display: block;
    width: 100%;
    height: 70px;
    border: 0.5px solid rgba(25, 188, 228, 0.30);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    outline: none;
    padding-top: 35px;
    padding-left: 30px;
    padding-right: 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
  }


  &__form-item::-ms-expand {
    display: none;
  }

  &__form-btn {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    max-width: 259px;
    width: 100%;
    background-color: #19BCE4;
    color: #FFFFFF;
    border: transparent;
    padding: 23px 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    cursor: pointer;
  }

}

.select-wrap {
  max-width: 259px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  margin-bottom: 10px;
  cursor: pointer;

  &__text {
    position: absolute;
    left: 30px;
    top: 10px;
    color: #555555;
    padding-right: 22px;
  }


  &__text::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    display: block;
    background-image: url('../images/icons/down.svg');
    background-repeat: no-repeat;
    right: 0;
  }
}

.about {
  padding-top: 120px;
  padding-bottom: 165px;

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__images {
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  &__img-big {
    object-fit: cover;
  }

  &__img-small {
    object-fit: cover;
    position: absolute;
    bottom: -45px;
    right: -38px;
  }

  &__content {
    max-width: 532px;
    padding-left: 10px;
    margin: 0 auto;
  }

  &__subtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 135%;
    color: #02012B;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 126.875%;
    margin-bottom: 24px;
  }

  &__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 135%;
    color: #555555;
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  &__item {
    max-width: 232px;
    width: 100%;
    margin: 0 auto;
  }

  &__item-icon {
    margin-bottom: 24px;
  }

  &__item-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
  }

  &__btn {
    font-size: 18px;
    font-weight: 400;
    line-height: 133.333%;
    border-radius: 6px;
    background-color: #19BCE4;
    color: #FFFFFF;
  }
}

.choise {
  padding-top: 75px;
  padding-bottom: 76px;
  background-color: #F8FDFE;

  &__title {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 126.875%;
    margin-bottom: 68px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__img {
    margin-right: 10px;
  }

  &__list {
    max-width: 541px;
    width: 100%;
  }

  &__item {
    padding: 24px;
    display: flex;
    align-items: center;
    border: 0.5px solid rgba(25, 188, 228, 0.20);
    background-color: #FFFFFF;
  }

  &__item:not(:last-child) {
    margin-bottom: 16px;
  }

  &__item-icon {
    margin-right: 28px;
  }

  &__item-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px;
  }

  &__item-text {
    max-width: 360px;
    line-height: 20px;
    /* 142.857% */
  }
}

.popular {
  padding-top: 120px;
  padding-bottom: 120px;

  &__title {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60.9px;
    /* 126.875% */
    text-align: center;
    margin-bottom: 16px;
  }

  &__subtitle {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    /* 135% */
    text-align: center;
    margin-bottom: 40px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 30px;
  }

  &__item {
    max-width: 370px;
    width: 100%;
    position: relative;
  }

  &__item:first-child {
    grid-row: span 2;
    height: 540px;

    .popular__text {
      bottom: 112px;
    }
  }

  &__img {
    object-fit: cover;
  }

  &__text {
    position: absolute;
    padding: 12px 37px;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
    bottom: 24px;
    left: 23%;
    background: rgba(0, 96, 119, 0.02);
    backdrop-filter: blur(14.5px);
  }

  &__text span {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    /* 135% */
  }
}

.clients {
  margin-bottom: 120px;
  background-color: #F8FDFE;
  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    max-width: 596px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    font-size: 18px;
    line-height: 166.6%;
    margin-bottom: 56px;
  }

  &__btn {
    padding-right: 68px;
    background-image: url(../images/icons/right.svg);
    background-repeat: no-repeat;
    background-position: 134px 16px;
    font-size: 18px;
    line-height: 24px;
    height: 56px;
  }

  &__img {
    margin-right: -160px;
  }

}


//media------------------------------------------------------

@media (max-width: 1200px) {
  .popular {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      max-width: 782px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 960px) {
  .choise {
    &__box {
      display: block;
    }

    &__img {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 25px;
    }

    &__list {
      margin: 0 auto;
    }
  }


  .popular {
    &__title {
      font-size: 40px;
      line-height: 44.9px;
    }

    &__list {
      display: block;
      max-width: 370px;
      margin: 0 auto;
    }

    &__item:first-child {
      height: 255px;
    }

    &__item:first-child img {
      width: 100%;
      max-width: 370px;
      height: 255px;
    }

    &__item:first-child .popular__text {
      bottom: 24px;
    }

    &__item {
      margin-bottom: 30px;
    }

    &__text {
      left: 50%;
      transform: translateX(-50%);
      max-width: 370px;
      width: 100%;
    }
  }

  .clients {
    &__title {
      font-size: 40px;
    }
  }
}

@media (max-width: 860px) {
  .burger {
    display: block;
  }

  .header {
    &__logo {
      margin-bottom: 10px;
    }

    &__menu {
      display: none;
      padding-top: 20px;
    }

    &__menu-item {
      text-align: center;
    }

    &__menu-item:not(:last-child) {
      margin-right: 0;
      margin-bottom: 20px;
    }

    &__menu--active {
      top: 0;
      right: 0;
      left: 0;
      display: block;
      position: absolute;
      margin: 0 auto;
      background-color: #ffffff;
      padding-top: 50px;
      padding-bottom: 50px;
      z-index: 2;
    }

    &__btn--active {
      position: absolute;
      top: 1px;
      left: 20px;
      right: 20px;
      top: 202px;
    }
  }

  .hero {
    &__title {
      padding-top: 60px;
      font-size: 40px;
    }
  }
}

@media (max-width:650px) {
  .about {

    &__title {
      font-size: 30px;
    }

    &__img-small {
      display: none;
    }

    &__list {
      display: block;
    }

    &__item {
      margin: 0 auto;
    }

    &__item:not(:last-child) {
      margin-bottom: 20px;
    }

    &__item-icon {
      margin: 0 auto;
    }

    &__btn {
      display: block;
      text-align: center;
    }
  }
}